h4 {
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10%;
  color: navy;
}
#title {
  font-size: 70%;
  font-weight: bold;
  padding-bottom: 2%;
}
#descr,#status {
  font-size: 70%;
  font-weight: bold;
  padding-bottom: 2%;
  padding-top: 5%;
}
#pending {
  font-size: 70%;
  padding-bottom: 2%;
  padding-top: 5%;
  color: seagreen;
}
.bouton {
  margin-top: 4%;
  margin-right: 10px;
  color: navy;
}
