
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Example Application
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" src="assets/images/Logo.png" />


    <h3 class="title">Features | {{Role}}</h3>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="food-list">
      <mat-icon>list</mat-icon>
      <span> Food List</span>
    </button>
    <button mat-button class="menu-button" routerLink="add">
      <mat-icon>add</mat-icon>
      <span> Add food</span>
    </button>
    <button mat-button class="menu-button" routerLink="food-cart">
      <mat-icon>shopping_basket</mat-icon>
      <span> Cart</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

